<section class="life-at-senwell  bg-body-tertiary">
  <div class="container mt-5 ">
    <h2 class="text-center mt-2" data-aos="fade-up">Life At Senwell Group</h2>
    <div class="content mt-1">
      <p>Life at Senwell Group is vibrant and dynamic, characterized by a culture of collaboration, innovation, and
        mutual respect. Our diverse team thrives in an environment where every voice is heard and every contribution is
        valued. We foster a balance of professional growth and personal well-being through continuous learning
        opportunities, exciting challenges, and a commitment to work-life harmony. Celebrating successes and milestones
        together, including cultural festivals and team achievements, we cultivate a supportive and inclusive. </p>
    </div>

    <div class="row mt-5">
      <div class="col-md-6" data-aos="fade-up">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/senwelllife/img1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img3.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span> -->
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span> -->
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <h3 data-aos="fade-up">Navigating Excellence in Work and Harmony in Life at Senwell Group</h3>
        <p data-aos="fade-up">At Senwell Group, we believe in fostering a workplace culture that thrives on the dual
          pillars
          of
          excellence in work and harmony in life. Our commitment goes beyond traditional corporate structures; we
          envision
          a holistic approach that recognizes the integral connection between professional success and personal
          well-being.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <h3 data-aos="fade-up">Unity in Excellence</h3>
        <p data-aos="fade-up">At Senwell Group, <b class="fw-bold">"Unity in Excellence"</b> is our foundational
          philosophy. It represents our shared commitment to achieving the highest standards by harnessing the diverse
          skills and perspectives of our team. This collective spirit drives us to collaborate effectively across all
          our
          domains—IT services, commodity management, precision manufacturing, and digital marketing.

          We believe that excellence is a product of unity. By working together, we amplify our strengths, foster
          innovation, and achieve remarkable results. Our culture of celebration, including the joy of participating in
          various festivals, reinforces our bonds and reflects the richness of our diverse backgrounds.

          "Unity in Excellence" is not just a principle; it's the essence of how we operate, ensuring that every
          individual's contribution is valued and our collective success is celebrated.</p>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/senwelllife/img4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img7.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/senwelllife/img8.png" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="assets/senwelllife/img10.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span> -->
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span> -->
          </button>
        </div>
      </div>

    </div>
  </div>
</section>